# LLM
ANTHROPIC_API_KEY = "sk-ant-api03-..."
GEMINI_API_KEY = "..."
GROQ_API_KEY = "gsk_..."

# MLIR
MLIR_SHARED_LIBS=/path/to/llvm-project/build/lib/libomp.so,/path/to/llvm-project/build/lib/libmlir_c_runner_utils.so,/path/to/llvm-project/build/lib/libmlir_runner_utils.so
AST_DUMPER_BIN_PATH=/path/to/MLIR-RL/tools/ast_dumper/build/bin/AstDumper
